body {
    background-color: #f7fafc;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    width: 90%;
    max-width: 960px;
    padding: 40px;
    transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

h1, h2 {
    text-align: center;
    color: #2d3748;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;
}

.input-section label {
    font-weight: bolder;
    color: #4a5568;
}

.input-section input, .input-section select {
    padding: 10px;
    margin-right: 10px;
    flex: 1 1 180px;
    border: 2px solid #e2e8f0;
    border-radius: 10px;
    background-color: #edf2f7;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.input-section input:focus, .input-section select:focus {
    border-color: #4fd1c5;
    outline: none;
    box-shadow: 0 0 0 2px rgba(79, 209, 197, 0.5);
}

.input-section button {
    padding: 10px 20px;
    background-color: #4fd1c5;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.input-section button:hover {
    background-color: #38b2ac;
    transform: translateY(-2px);
}

.expenses-list {
    margin: 40px 0;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
    margin-top: 20px;
}

th, td {
    border: 1px solid #e2e8f0;
    padding: 12px;
    text-align: left;
    background-color: #ffffff;
    border-radius: 10px;
}

th {
    background-color: #68d391;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
}

tfoot td {
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #fc8181;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.delete-btn:hover {
    background-color: #f56565;
    transform: scale(1.1);
}

table tr:hover {
    background-color: #f0f0f0;
}
#date_input {
    flex: 0 1 150px; /* Adjust the flex-basis to make the input smaller */
}